<div class="container">
  <h1>Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('');">
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
          <p>Very cool cocktail</p>
        </div>
        <%= link_to "", cocktail, class:"card-link" %>
      </div>
    </div>
    <% end %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="card card-new" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://image.flaticon.com/icons/png/512/32/32360.png');">
        <div class="card-description">
        </div>
        <%= link_to "", new_cocktail_path, class:"card-link" %>
      </div>
    </div>
  </div>
</div>
