<div class="container">
  <h1>Add new Cocktail</h1>
  <div class="row">
    <div class="col-lg-12">
      <p><%= render 'form', cocktail: @cocktail %></p>
      <p><%= link_to 'Go Back', cocktails_path, class:"btn btn-primary" %></p>
    </div>
  </div>
</div>
